.background{
    position: absolute;
    width: 1560px;
    height: 860px;
    left: 0px;
    top: 70px;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.12)), url(gameBack.png);
}
.slide{
    position: absolute;
    width: 1180px;
    height: 730px;
    left: 182px;
    top: 59px;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
    border-radius: 15px;
    background-color: white;
}

.app {
    background: rgba(0, 147, 147, 0.17);
    width: 1180px;
    min-height: 730px;
    height:730;
    left: 182px;
    top: 59px;

    border-radius: 15px;
    padding: 50px 100px 50px 100px;
    
    display: flex;
    justify-content: space-evenly;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 360;
  }

.score-section {
    display: flex;
    font-size: 34px;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 390;
    line-height: 40px;
    flex-direction: column;
    justify-content: center;
}
  
  /* QUESTION/TIMER/LEFT SECTION */
  .question-section {
    width:780px;
    min-height: 150px;
    height: auto;
    margin-top: 30px;
    position: absolute;
    background-color:white;
    border: 2px solid #d9dad9 ;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 390;
    line-height: 20px;
  }
  
  .question-count {
    margin-bottom: 20px;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 340;
    line-height: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .question-count span {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 340;
    font-size: 20px;
    line-height: 20px;
    
  }
  
  .question-text {
    width:725px;
    margin-bottom: 12px;
    padding-top: 12px;
    font-size: 23px;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 450;
    line-height: 20px;
    justify-content: center;
    display: flex;
  }
  
 
  
  /* ANSWERS/RIGHT SECTION */
  .answer-section {
    padding-top:400px;
    width: 1180px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  button {
    width: 80%;
    font-size: 16px;
    color: #0a110f;
    background-color:white;
    border-radius: 10px;
    display: flex;
    padding: 5px 5px 5px 35px;
    margin: 10px;
    align-items: center;
    border: 2px solid #d9dad9  ;
    cursor: pointer;
    font-size: 26px;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 350;

  }
  
  .correct {
    background-color: #2f922f;
  }
  
  .incorrect {
    background-color: #fe4242;
  }
  
  button:hover {
    background-color: rgba(7, 116, 138, 0.5);
  }
  
  button:focus {
    outline: none;
  }
  
  button svg {
    margin-right: 5px;
  }


.homeButton{
    position: absolute;
    width: 304px;
    height: 68px;
    left: 790px;
    top: 600px;
    color:#FFFFFF;
    background: #1B717F;
    border-radius: 25px;
    border: 2px solid #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 380;
    font-size: 25px;
}